{% extends 'BootCRUDApp/base.html' %}

{% block form %}
<form method = post>
    {% csrf_token %}
    {{form.as_p}}
    <button>Submit</button>
</form>
{% endblock form %}

{% block cards %}
{% for eachElem in allJunk %}
<div class="card" style="width: 18rem;">
    <img src="{{eachElem.pic}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{eachElem.name}}</h5>
        <p class="card-text">{{eachElem.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">${{eachElem.price}}</li>
    </ul>
    <div class="card-body">
        <a href="{% url 'editItem' eachElem.id %}" class="card-link">Edit</a>
    </div>
</div>
{% endfor %}

{% endblock cards %}